<body>
  <div class="box">
      <h4 class='ui header' id="header-login">Enter your new password</h4>
      <form  [formGroup]='resetForm' (ngSubmit)='onSubmitReset(resetForm)'>
          <div class="inputBox">
              <input 
                  type="text"
                  name=""
                  formControlName="email"
                  required=""
                  [(ngModel)]="user.email">
              <label>email</label>
              <div class="ui negative message" *ngIf="!resetForm.get('email').valid && resetForm.get('email').touched">Please enter a valid email address!</div>
          </div>

          <div class="inputBox">
            <input 
                type="text"
                name=""
                formControlName="emailRepeat"
                required="">
            <label>Repeat email</label>
            <div class="ui negative message" *ngIf="!forgotForm.get('email').valid && forgotForm.get('email').touched">Please enter a valid email address!</div>
        </div>
          
          <button class="ui blue inverted button" type='submit' id='submit-btn' >Send me an email, please!</button>
  
      </form>
  </div>
</body>

