<body>
  <div class="box">
      <h4 class='ui header' id="header-login">Elige tu nueva contraseña</h4>
      <form  [formGroup]='resetForm' (ngSubmit)='onSubmitReset(resetForm)'>
          <div class="inputBox">
              <input 
                 [type]="showPassword? 'text' :'password'"
                  name=""
                  formControlName="password"
                  required=""
                  [(ngModel)]="user.password">
                <button class="ui icon basic button" id='btn-visibility' type='button' (click)="toggleVisibilityPassword()">
                    <i class="eye icon"></i>
                </button>
              <label>Contraseña</label>
              <div class="ui blue message" *ngIf="!resetForm.get('password').valid && resetForm.get('password').touched">8 caracteres mínimo!</div>
          </div>

          <div class="inputBox">
            <input 
                [type]="showPassword? 'text' :'password'"
                name=""
                formControlName="confirmPassword"
                required="">
            <label>Repite la contraseña</label>
            <button class="ui icon basic button" id='btn-visibility' type='button' (click)="toggleVisibilityPassword()">
                <i class="eye icon"></i>
              </button>
        </div>    
          <button class="ui blue inverted button" type='submit' id='submit-btn' >Resetear mi contraseña</button>
  
      </form>
  </div>
</body>

