<div class="ui container logo-container">
    <img class="logo" src="./../assets/clearfundingGota.png" alt="">

<h5>"In clearfunding we believe that contributing to good causes should be made easy"</h5>
<h6 class="ui small center aligned header" id="cristian">Cristian II</h6>
<hr>
<div class="container-text-home">
    <h2>Browse Success Stories</h2>
</div>
<app-stories-list></app-stories-list>
<div class="container-text-campaigns">
    <h2>Explore campaigns</h2>
</div>

<app-campaign-list></app-campaign-list>
</div>
