<app-navbar></app-navbar>
<div class="ui container logo-container">
    <img class="ui centered medium image" src="./assets/logo.png"alt="">

<h5>"Helping people create beautiful things since 2018"</h5>
<h6 class="ui small center aligned header" id="cristian">Cristian II</h6>
<hr>
<div class="container-text-home">
    <h2>Browse Success Stories</h2>
</div>
<app-stories-list></app-stories-list>
<div class="container-text-campaigns">
    <h2>Explore campaigns</h2>
</div>

<app-campaign-list></app-campaign-list>
</div>
