<body>
  <div class="box">
    <img class='ui image' src="./../assets/logo.png">
    <h4 class='ui header' id="header-login">Enter your email to receive further instructions</h4>

    <form [formGroup]='forgotForm' (ngSubmit)='onSubmitForgot(forgotForm)'>

      <div class="inputBox">

        <input type="text" name="" formControlName="email" required="" [(ngModel)]="user.email">
        <label>email</label>
        <div class="ui blue message" *ngIf="!forgotForm.get('email').valid && forgotForm.get('email').touched">Please enter a valid email address!</div>
      </div>

      <button class="ui blue inverted button" type='submit' id='submit-btn'>Send me an email, please!</button>

    </form>
  </div>
</body>
