
    <!-- <div class="ui card" (click)="onClickCard(story.id)">
        <div class="image">
          <div class="ui blurring inverted dimmer">
            <div class="content">
              <div class="center">
                <div class="ui teal button">Add Friend</div>
              </div>
            </div>
          </div>
          <img [src]="story.image" alt="Story image">
        </div>
        <div class="content">
          
          <div class="header">{{ story.header }}</div>
          <div class="description"> {{ story.subheader }}</div>
 
          <a class="time">{{ story.createdAt }}</a>
          <a class="minutes">{{ story.estimatedReadingTime }} minute read</a>
          <a class="read">Read more!!</a> -->
        
<div class="stories-container">
<div *ngFor="let story of stories">
<div class="ui card stories-bucket">
    <div class="content">
      <div class="header">{{ story.header }}</div>
    </div>
    <div class="content" id="header-story">
        <!-- <span>
            <i class="tags icon"></i>
            {{story.categories.join(' - ')}}
          </span> -->
      <div class="ui small feed">
          <div class="content">
            <div class="summary">
               {{ story.subheader }}
            </div>
        </div>
      </div>
    </div>
    <div class="extra content">
        <a class="minutes">{{ story.estimatedReadingTime }} minute read</a>
    </div>
  </div>
</div>
</div>