
  <div class="container">

  <div class="ui secondary pointing menu" id='nav-bar'>
    <a class="item" routerLinkActive="active" [routerLink]="['/home']">
      Home
    </a>
    <a class="item" routerLinkActive="active" [routerLink]="['/campaigns']">
      Campaigns
    </a>

    <div *ngIf="user;else no_user">
      <a class="item" routerLinkActive="active"[routerLink]="['profile']">
        My profile
      </a>
    </div>
    <ng-template #no_user>
            <a class="item" routerLinkActive="active"[routerLink]="['/login']">
              Login
            </a>
    </ng-template>
  
  </div>
 