<div class="container">

  <div class="ui secondary fixed pointing menu" id='nav-bar'>
    <a class="item menu" [routerLink]="['/home']">
        <img class="ui image mini" src="./assets/a.png">  
    </a> 
   
  <div>
    <a class="item" routerLinkActive="active" [routerLink]="['/campaigns']">
      Campaigns
    </a>
  </div>


    <!-- <div class="right menu" *ngIf="user">
        
         
    
    </div> -->


    <div class="right menu" *ngIf="user">

      <div class="ui simple dropdown item">
        Hi,{{user.username}}
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="ui item" routerLinkActive="active" [routerLink]="['/profile']">Profile</a>
          <a class="ui item" (click)='submitLogout()'>
            Logout
          </a>
        </div>
      </div>
    </div>


    <div class="right menu" *ngIf="!user">
      <a class="ui item" routerLinkActive="active" [routerLink]="['/login']">
        Login
      </a>
    </div>


  </div>
</div>

