#nav-bar {
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: white;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.item-right{
 margin-left: 100px
}

.ui.secondary.pointing.menu .active.item{
  border-color: #04c4f4;
  color: #049cd4
}

