 <body>
        <div class="box">
            <img class='ui left aligned image' src="./../assets/logo.png">
            <!-- <h2 class='ui header' id="header-login">Login</h2> -->
            <form  [formGroup]='loginForm' (ngSubmit)='onSubmitLogin(loginForm)'>
                <div class="inputBox">
                    <input 
                        type="text"
                        name=""
                        formControlName="email"
                        required=""
                        [(ngModel)]="user.email">
                    <label>email</label>
                </div>
                <!-- <div class="ui blue message" id="error2" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">Please enter a valid email!</div> -->
                <div class="inputBox">
                    <input
                     type="password"
                     name=""
                     formControlName="password"
                     required=""
                     [(ngModel)]="user.password">
                    <label>password</label>
                    <button class="ui icon button btn-visibility" type='button' (click)="toggleVisibilityPassword()">
                        <i class="eye icon"></i>
                    </button>
                    <div 
                  class="ui blue message"
                  *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please enter a valid password!
                </div>
                </div>
                <button class="ui blue inverted button" type='submit' id='submit-btn' >Log in</button>
                <a [routerLink]="['/login/forgot']">Forgot your password?</a>
                <div>
                <p>Still not a user? <a [routerLink]="['/signup']">Sign up quickly! </a> </p>
                </div>

            </form>
        </div>
    </body>