<body>

  <div class="box">
        <img class='ui middle aligned image' src="./../assets/logo.png">
        <!-- <h1 class='ui header' id="header-login">Join us!</h1> -->

    
    
    <form [formGroup]='signupForm' (ngSubmit)='onSubmitSignup(signupForm)'>
      <div class=" inputBox">
        <div class="ui left icon input bar">
          <i class="user icon"></i>
          <input type="text" formControlName="username" required="" [(ngModel)]="user.username">
          <label>username
            <span class="asterisk">*</span>
          </label>
        </div>

        <div class="ui blue message" id="error" *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched">Minimum length: 4 characters</div>
      </div>

      <div class="inputBox">
        <div class="ui left icon input bar">
          <i class="envelope outline icon"></i>
          <input type="text" formControlName="email" required="" [(ngModel)]="user.email">
          <label>email
              <span class="asterisk">*</span>
          </label>
        </div>
        <div class="ui blue message" id="error2" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">Please enter a valid email!</div>
      </div>
      <div class="inputBox">
        <div class="ui left icon input bar">
          <i class="lock icon"></i>
          <input [type]="showPassword? 'text' :'password'" formControlName="password" required="" [(ngModel)]="user.password">
          <label>password
              <span class="asterisk">*</span>
          </label>
          <button class="ui icon button btn-visibility" type='button' (click)="toggleVisibilityPassword()">
            <i class="eye icon"></i>
          </button>
        </div>
        <div class="ui blue message" id="error3" *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">Minimum length: 8 characters
        </div>

      </div>
      <div class="inputBox">
        <div class="ui left icon input bar">
          <i class="lock icon"></i>
          <input [type]="showPassword? 'text' :'password'" formControlName="confirmPassword" required="">
          <label>Confirm password
              <span class="asterisk">*</span>
          </label>
          <button class="ui icon button btn-visibility" type='button' (click)="toggleVisibilityPassword()">
            <i class="eye icon"></i>
          </button>
        </div>
        <div class="ui blue message" id="error4" *ngIf="!signupForm.get('confirmPassword').valid && signupForm.get('confirmPassword').touched">Passwords don't match!
        </div>

      </div>

      <div class="field">
        <div class="ui left icon input bar" id='upload-input'>
          <i class="upload icon"></i>
          <input type="file" formControlName="image" id="imageFile" placeholder="Upload a profile pic" #imageFile>
        </div>
      </div>

      <div class="field" id='interest-field' formArrayName="interests">
        <p>
          Select your interests<span class="asterisk">*</span>: <br>
          <span>(Don't worry, you'd be able to change them later!)</span>
        </p>

        <div id='show-interests' *ngFor="let interest of interests">
          <a [ngClass]="{
                    inverted: selectedInterests.includes(interest),
                    basic: !selectedInterests.includes(interest)
                  }" class="ui blue label interest" id="{{interest}}" (click)=onAddInterest($event)>
            {{interest}}
          </a>
        </div>

      </div>

      <button class="ui fluid blue button" type="submit" id="submit-signup" [disabled]="!signupForm.valid">Sign up!</button>
      <p id="already-user">Already a user? <strong> <a [routerLink]="['/login']">Log in! </a> </strong> </p>

      <div class="ui success message"*ngIf="signupStatusOK && user">
          Your account was created! :)
      </div>

    </form>
  </div>

</body>
