<div class="container" id="signup-container">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
          <h2 class="ui teal header">
            <div class="content">
             <h2> Welcome!</h2>
            </div>
          </h2>
          <form class="ui large form" [formGroup]='signupForm' (ngSubmit)='onSubmitSignup(signupForm)'>
            <div class="ui stacked segment">
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input
                     type="text"
                     formControlName="username"
                     [(ngModel)]="user.username"
                     placeholder="Username">
                </div>
                <div class="ui negative message" *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched"
                     >Please enter a valid username!
                </div>
              </div>
              <div class="field">
                  <div class="ui left icon input">
                    <i class="envelope outline icon"></i>
                    <input 
                      type="text" 
                      formControlName="email"
                      [(ngModel)]="user.email"
                      placeholder="E-mail address">
                  </div>
                  <div class="ui negative message" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">Please enter a valid email!</div>
                </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input 
                    [type]="showPassword? 'text' :'password'"
                    formControlName="password"
                    [(ngModel)]="user.password"
                    placeholder="Password">
                    <button class="ui icon basic button" id='btn-visibility' type='button'(click)="toggleVisibilityPassword()">
                      <i class="eye icon"></i>
                    </button>
                </div>
                <div 
                  class="ui negative message"
                  *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">Please enter a valid password!
                </div>

              </div>
              <!-- <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input
                      [type]="showPassword? 'text' : 'password'"
                       formControlName="confirmPassword"
                       placeholder="Confirm Password">
                       
                  </div>
                </div>
               -->
               <div class="field">
                <div class="ui left icon input">
                  <i class="upload icon"></i>
                  <input 
                    type="file" 
                    formControlName="image" 
                    [(ngModel)]="user.image"
                    (change)="onFileChange($event)"
                    id="imageFile"
                    placeholder="Upload a profile pic">
                </div>
              </div>
                
              <div class="field" formArrayName="interests">
                  <p><strong>Select your interests</strong> </p>
                 
                  <div id='show-interests' *ngFor="let interest of interests">
                    <a 
                      [ngClass]="{
                        inverted: selectedInterests.includes(interest),
                        basic: !selectedInterests.includes(interest)
                      }"
                      class="ui blue label interest" 
                      id="{{interest}}" 
                      (click)=onAddInterest($event)> 
                        {{interest}} 
                    </a>
                  </div>

                </div>

                <button class="ui fluid blue button" type="submit" [disabled]="!signupForm.valid">Submit</button>
            
              </div>

            </form>

  
