<app-stories-list></app-stories-list>



<!-- <div id='show-interests' *ngFor="let interest of interests">
  <a [ngClass]="{
            inverted: selectedInterests.includes(interest),
            basic: !selectedInterests.includes(interest)
          }" class="ui blue label interest" id="{{interest}}" (click)=onAddInterest($event)>
    {{interest}}
  </a>
</div> -->

<div class="lateral-scroll">
    <nav class="nav">
        <ul class="nav-list">
          <li *ngFor="let category of categories" id="{{category}}" (click)=onFilterCategory($event)>{{category}}</li>
        </ul>
      </nav>
    </div>


    <div class="feed">
        <div *ngFor="let campaign of campaigns">
          <div class="card-box">
            <div class="ui card" (click)="onClickCard(campaign.id)">
                <div class="image">
                  <div class="ui blurring inverted dimmer">
                    <div class="content">
                      <div class="center">
                        <div class="ui teal button">Add Friend</div>
                      </div>
                    </div>
                  </div>
                  <img [src]="campaign.image" alt="Story image">
                </div>
                <div class="content" id="campaign-info">
                  <div class="header">{{ campaign.title }}</div>
                  <div class="description"> {{ campaign.abstract }}</div>
                
                  <div class="campagin-stats">
                    <div class="target-text" *ngIf="campaign.percentageRaised;else campaign_beginning_raised">
                        <h4>Ya hemos conseguido el {{ campaign.percentageRaised }} de la meta.</h4>
                    </div>
                    <ng-template #campaign_beginning_raised>Be the first one backign the project!</ng-template>
       
                  
                  
                <div class="chart">
                  
                    <div class="drawing" [ngStyle]="{'width': campaign.percentageRaised}">
                    </div>
                  </div>
                
                <div class="figures">
                  <div *ngIf="campaign.backersNumber"class="figures-left" >
                  <h5>{{ campaign.backersNumber}}</h5>
                  <p>Contribuidores</p>
                </div>
                
                <div *ngIf="campaign.isAchieved === false; else campaign_achieved">
                <div class=figures-right>
                    <h5>Quedan{{campaign.amountRaised}}€</h5>
                    <p>de {{ campaign.target }}€</p>
                  </div>
                </div>
                <ng-template #campaign_achieved>Achieved!</ng-template>

                </div>



                </div>
                </div>
              </div>
            </div>
        </div>
        </div>




