<app-stories-list></app-stories-list>

<div class="lateral-scroll">
    <nav class="nav">
        <ul class="nav-list">
          <li>Edno</li>
          <li>Dve</li>
          <li>Tri</li>
          <li>Chetri</li>
          <li>Pet</li>
          <li>Shest</li>
          <li>Sedem</li>
          <li>Osem</li>
          <li>Devet</li>
          <li>Deset</li>
          <li>Edinaise</li>
        </ul>
      </nav>
    </div>


    <div class="feed">
        <div *ngFor="let campaign of campaigns">
          <div class="card-box">
            <div class="ui card" (click)="onClickCard(campaign.id)">
                <div class="image">
                  <div class="ui blurring inverted dimmer">
                    <div class="content">
                      <div class="center">
                        <div class="ui teal button">Add Friend</div>
                      </div>
                    </div>
                  </div>
                  <img [src]="campaign.image" alt="Story image">
                </div>
                <div class="content" id="campaign-info">
                  <div class="header">{{ campaign.title }}</div>
                  <div class="description"> {{ campaign.abstract }}</div>
                  {{ campaign.percentageRaised }}
                

                </div>
                <div class="chart">
                    <div class="drawing" [ngStyle]="{'width': campaign.percentageRaised}">

                    </div>
                  </div>
                <div class="extra content card-bottom">
                  <a class="time">{{ campaign.location }}</a>
                </div>
              </div>
            </div>
        </div>
        </div>




