

<div class='ui container' *ngIf="user" >
    <div class='header'>
      <div class='person'>
        <div class='dp' [ngStyle]="{'background-image': 'url(' + user.image + ')'}">
        </div>

        <div class='name'>{{ user.username}}</div>
      </div>
    </div>
    <div class='info'>
      <h2 class="title">About</h2>
      <p> Barb has a special ability to push people abroad. So, in case you need foreign funding, get in touch with me. I'm also a lawyer, which comes in handy when you are in trouble. Founding member of Clearfunding with Cristian II.</p>
      <div class='campaigns'>
        <h2 class='title' id='campaigns-backed'>Campaigns backed: {{ user.campaignsBacked.length }}</h2>
      </div>
      <div class='social'>
        <h2 class='title'>Activate second factor authentication</h2>
        <p>This authentication adds an extra layer of protection to your account</p>
        
        
        <button class="ui basic blue button" id='activate-button' (click)='toggleLatchActivation()'>Activate now!</button>
        <div *ngIf="latchActivated === true">
          <div class="ui left icon input">
              <form [formGroup]="latchForm" (ngSubmit)="pair(latchForm)" novalidate>
                  <div class="latch-container">
                      <div class="ui icon input">
                      <input  type="text" formControlName="code" [(ngModel)]="code" placeholder="Enter your pairing code">
                      <i class="unlock icon"></i>
                    </div>
                  <button class="ui small basic blue button" type="submit" [disabled]="!latchForm.valid">Pair</button>
                </div>
                </form>            
          </div>
        </div>    

       