<app-navbar></app-navbar>

   

<div class="row">
    <div class="pic_base">
        <img src={{user.image}} width=100 id="profile_pic" alt="">
        <div class="icon_base">
          
           
        </div>
       <div id='card-div'>
          <h1 id="title">Barb</h1>
         <p>Member since 2012</p>
         <hr>
         <div class="square">
           <div id="campaigns-backed">
             <p>Campaigns backed:</p>
             <br>
               {{user.campaignsBacked.length}}
           </div>
           <div id="amount-committed">
             <p>Amount committed</p>
           </div>
            <div id="amount-disbursed">
             <p>Amount disbursed</p>
           </div>
         </div>

       </div>
    </div>

    <div class="content_base">
        <p id="content">
Robert John Downey Jr. is an American actor. His career has included critical and popular success in his youth, followed by a period of substance abuse and legal troubles, and a resurgence of commercial success in middle age.
            <br><br>
        <strong>Born:</strong> 4 April 1965 (age 51 years), Manhattan, New York City, New York, United States
        <br><br>
        <strong>Upcoming movies:</strong> Spider-Man: Homecoming, Avengers: Infinity War, Untitled Avengers film
    </p>
        <h2 class='title'>Activate second factor authentication</h2>
        <p>This authentication adds an extra layer of protection to your account</p>
        
        
        <button class="ui basic blue button" id='activate-button' (click)='toggleLatchActivation()'>Activate now!</button>
        <div *ngIf="latchActivated === true">
          <div class="ui left icon input">
              <form [formGroup]="latchForm" (ngSubmit)="pair(latchForm)" novalidate>
                  <div class="latch-container">
                      <div class="ui icon input">
                      <input  type="text" formControlName="code" [(ngModel)]="code" placeholder="Enter your pairing code">
                      <i class="unlock icon"></i>
                    </div>
                  <button class="ui small basic blue button" type="submit" [disabled]="!latchForm.valid">Pair</button>
                </div>
                </form>            
          </div>
        </div> 