.row {
  height: 900px;
  background-color: white;
  margin-left: 200px;
  border: 1px solid black;
  margin-top: 100px;
}
.pic_base{
  height: 20%;
 background: linear-gradient(to top left, #C97FF0 37%, #7873F5 70%);
  background-size: cover;
}
.icon_base{
  height: 50px;
  width: 50px;
  padding: 2px;
  position: absolute;
  margin-left: 630px;
  margin-top: 150px;
  align-items: center;
  border-radius: 100%;
}
#edit{
  color: white;
  margin-left: 10px;
  margin-top: 8px;
}

#profile_pic{
  border-radius: 100%;
  box-shadow: 0 2px 2px black;
  box-sizing: border-box;
  position: absolute;
  margin-top: 40px;
  margin-left: 150px;
  z-index: 200;
}
#title {
margin-top: 70px;
margin-bottom: 0;
text-align: center;

}

#content{
  padding-top: 120px;
  padding-left: 47px;
  padding-right: 47px;
  font-family: 'Exo 2', sans-serif;
  text-align: justify;
  background-color: #eaeef2;
 
}

#card-div {
height: 210px;
background-color: white;
position: absolute;
margin-top: 80px;
margin-left: 23px;
z-index: 99;
width: 350px;
border-radius: 10px;
box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.square {
display: flex;
justify-content: center;
margin-top: 2px;

}
#campaigns-backed,
#amount-committed,
#amount-disbursed {
border-right: 1px solid grey;
height: 67px;
width: 33%;
position: relative;
top:-9px;

}

#card-div > p {
text-align: center;
margin-top: 0;
}

#campaigns-backed,
#amount-committed,
#amount-disbursed p {
font-size: 12px;
padding-left: 4%;
}