<app-navbar></app-navbar>



<div class="row">
  <div class="pic_base">
    <img src={{user.image}} width=100 id="profile_pic" alt="">

    <div id='card-div'>
      <h1 id="title">Barb</h1>
      <p>Usuario desde 2018</p>
      <hr>
      <table>
        <tr>
          <th>
            <h4>Campañas financiadas:</h4>
          </th>
          <th>
            <h4>Cantidad comprometida:</h4>
          </th>
          <th>
            <h4>Cantidad desembolsada:</h4>
          </th>
        </tr>
        <tr>
          <td>
            <div class="ui one tiny statistics">
              <div class=" violet statistic">
                <div class="value">
                  {{user.campaignsBacked.length}}
                </div>
                <div class="label">
                  Campaigns
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="ui one tiny statistics">
              <div class=" blue statistic">
                <div class="value">
                  {{user.committedAmount}}
                </div>
                <div class="label">
                  euros
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="ui one tiny statistics">
              <div class="pink statistic">
                <div class="value">
                  {{user.disbursedAmount}}
                </div>
                <div class="label">
                  euros
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


<h3 class="ui horizontal divider header">
  <i class="plus icon icon-header"></i>
  Campañas a las que has contribuido
</h3>

<div *ngIf="user.campaignsBacked.length <= 0" class="ui container">
  <h5 class="ui header center aligned"> Aún no has contribuido a ninguna campaña</h5>
</div>


<div *ngIf="user.campaignsBacked.length > 0" class="ui container scroll-container">
  <div class="ui list">
    <div class="item" *ngFor="let c of user.campaignsBacked">
      <div class="content">
        <a (click)="onClickTitle(c.id)" class="header">{{ c.title }}</a>
        <div class="description">
          <div  *ngIf="!campaignCompleted" class="ui basic label">
            <i class="hourglass start icon"></i> Activa
          </div>
          <div *ngIf="campaignCompleted" class="ui basic label">
            <i class="hourglass end icon"></i> Finalizada
          </div>
          <div class="ui basic label">
            <i class="percent icon"></i> {{ c.percentageAchieved }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<h3 class="ui horizontal divider header">
  <i class="heart outline icon icon-header"></i>
  Campañas que sigues:
</h3>

<div *ngIf="user.campaignsFollowed.length <= 0" class="ui container">
  <h5 class="ui header center aligned"> Aún no sigues ninguna campaña</h5>
</div>


<div *ngIf="user.campaignsFollowed.length > 0" class="ui container scroll-container">
  <div class="ui list">
    <div class="item" *ngFor="let c of user.campaignsFollowed">
      <div class="content">
        <a (click)="onClickTitle(c.id)" class="header">{{ c.title }}</a>
        <div class="description">
            <div  *ngIf="!campaignCompleted" class="ui basic label">
                <i class="hourglass start icon"></i> Activa
              </div>
              <div *ngIf="campaignCompleted" class="ui basic label">
                <i class="hourglass end icon"></i> Finalizada
              </div>
              <div class="ui basic label">
                <i class="percent icon"></i> {{ c.percentageAchieved }}
              </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="ui horizontal divider header">
  <i class="paint brush icon icon-header"></i>
  Campañas creadas
</h3>
<div *ngIf="user.campaignsCreated.length <= 0" class="ui container">
  <h5 class="ui header center aligned"> Aún no has creado ninguna campaña</h5>
</div>


<div *ngIf="user.campaignsCreated.length > 0" class="ui container scroll-container">
  <div class="ui list">
    <div class="item" *ngFor="let c of user.campaignsCreated">
      <div class="content">
        <a (click)="onClickTitle(c.id)" class="header">{{ c.title }}</a>
        <div class="description">
            <div  *ngIf="!campaignCompleted" class="ui basic label">
                <i class="hourglass start icon"></i> Activa
              </div>
              <div *ngIf="campaignCompleted" class="ui basic label">
                <i class="hourglass end icon"></i> Finalizada
              </div>
              <div class="ui basic label">
                <i class="percent icon"></i> {{ c.percentageAchieved }}
              </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ui icon message">
  <i class="unlock alternate icon"></i>
  <div class="content">
    <div class="header">
      Tienes activada la autenticación con doble factor?
    </div>
    <br>
    <div *ngIf="latchActivated === true">
      <div class="ui left icon input">
        <form [formGroup]="latchForm" (ngSubmit)="pair(latchForm)" novalidate>
          <div class="latch-container">
            <div class="ui icon input">
              <input type="text" formControlName="code" [(ngModel)]="code" placeholder="Enter pairing code">
              <i class="unlock icon"></i>
            </div>
            <button class="ui small basic blue button" type="submit" [disabled]="!latchForm.valid">Emparejar</button>
          </div>
        </form>
      </div>
    </div>
    <button class="ui basic blue button" id='activate-button' (click)='toggleLatchActivation()' *ngIf="!latchActivated">Activar ahora!</button>
  </div>
</div>

