<div class="ui text container">


<h1>{{ campaign.title }}</h1>

<div id='campaign-image-div'>
  <img [src]="campaign.image" *ngIf="campaign.image">
</div>

<h1>{{ campaign.title }}</h1>


<p>Created by: {{ campaign.creator.username}}</p>

<h2>Amount Raised: {{ campaign.amountRaised }} USD</h2>

    <i class="tags icon"></i>
    {{campaign.categories}}


        <div class="ui statistics">
            <div class="statistic">
              <div class="value">
                80%
              </div>
              <div class="label">
                Funded
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                31,200
              </div>
              <div class="label">
                Backers
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                22
              </div>
              <div class="label">
                Days til deadline
              </div>
            </div>
          </div>




<p>{{ campaign.description }}</p>

<button *ngIf="!campaign.isCompleted"   class="ui basic blue button" (click)='toggleVisibilityInputPayment()'>

  DONATE NOW!
</button>

<form (ngSubmit)="makePayment(campaign.id, paymentForm)" #paymentForm="ngForm"*ngIf="inputPaymentOpened === true">
    <div class="ui right labeled input">
        <label for="amount" class="ui label">$</label>
        <input [(ngModel)]="amount" type="text" placeholder="Amount" name='amount' id="amount" >
        <div class="ui basic label">.00</div>
    </div>
    <button class="ui basic blue button" type="submit">Go to paypal</button>

</form >



<ul class="ui ten wide column horizontal list" id='icon-list'>
   
    <div class="item">
        <i class="time icon"></i>
          15 June 2018
    </div>
    <div class="item">
        <i class="map pin icon"></i>
       {{campaign.location}}
    </div>
    <div class="item">
            <i class="dollar icon"></i>
            {{ campaign.target }} USD
       
    </div>

  </ul>

  </div>
    
    
