#footer {
  margin: 0 auto;
  color: white;
  margin: 0 auto;
}

#campaign-image-div img {
  width: 400px;
}

#first-row {
  display: flex;
}

#image-container {
  position: relative;
  text-align: center;
  color: white;
}

#campaign-category {
  position: absolute;
  top: 8px;
  right: 16px;
  z-index: 99;

}

#campaign-creator {
  position: absolute;
  top: 12px;
  right: 16px;
  z-index: 99;
}