<app-navbar></app-navbar>


<div class="ui stackable grid container" id="grid-container">
  <div class="row" id="picture">
    <img class="ui fluid image" [src]="campaign.image" *ngIf="campaign.image">
    <h2>{{ campaign.title }} </h2>
    <div id="top-right">
      <div class="ui labeled button" tabindex="0" id="like-box">
        <div class="ui basic button box" (click)='followCampaign(campaign.id)'>
          <a id='like'>
            <i class="heart icon"></i> Like </a>
        </div>
        <a class="ui basic white left pointing label">
          {{ campaign.followers.length}}
        </a>
      </div>
      <button class="ui basic icon button" type='button'>
        <i class="share alternate icon"></i>
      </button>
    </div>
    <div id="campaign-category-div">
      <a class="ui blue tag label" id="campaign-category">{{campaign.categories}} </a>
    </div>

  </div>

  <div class="ui text container" id="text">
    <div id="description"> {{ campaign.description }}</div>
  </div>
</div>

<div class="ui two column stackable grid">
  <div [hidden]="!chart" class="column stats">
    <canvas id='canvas' width="800" height="500"> {{ chart }} </canvas>
  </div>
  <div class="column stats">
    <div class="row" id='numbers'>

      <div class="ui pink tiny statistic">
        <div class="value">
          <i class="dollar icon"></i> {{ campaign.amountRaised }}
        </div>
        <div class="label">
          Amount raised
        </div>
      </div>
      <div class="ui grey tiny statistic">
        <div class="value">
          <i class="dollar icon"></i> {{ campaign.target }}
        </div>
        <div class="label">
          Target
        </div>
      </div>
      <div class="ui blue tiny statistic" id="stats">
        <div class="value">
          {{campaign.backers.length}}
          <i class="users icon"></i>
        </div>
        <div class="label">
          Backers
        </div>
      </div>

    </div>
    <div class="row" id='del-countdown' *ngIf="!campaign.isCompleted">
      <h3>Remaining time</h3>
      <div id="clock">
        <span>{{days }}</span>
        <span>{{ hours }}</span>
        <span>{{ minutes }}</span>
        <span>{{ seconds }}</span>
      </div>
      <div id="units">
        <span>Days</span>
        <span>Hours</span>
        <span>Minutes</span>
        <span>Seconds</span>
      </div>
    </div>
    <div class="ui success message" *ngIf="campaign.isAchieved">
      Campaign was achieved! Thank you! :)
    </div>
    <div class="ui success message" *ngIf="campaign.isCompleted">
      Campaign was achieved! Thank you! :)
    </div>

    <div id='payment-buttons' *ngIf="!campaign.isCompleted">
      <button class="ui basic blue button" (click)="makeDefaultPayment(campaign.id, '5')">
        <i class="paypal icon"></i> DONATE 5 USD
      </button>
      <button class="ui basic blue button" (click)="makeDefaultPayment(campaign.id, '10')">
        <i class="paypal icon"></i> DONATE 10 USD
      </button>
      <button class="ui basic blue button" (click)="makeDefaultPayment(campaign.id, '15')">
        <i class="paypal icon"></i> DONATE 15 USD
      </button>
      <button class="ui basic pink button" (click)="toggleVisibilityInputPayment()">
        <i class="paypal icon"></i> Choose amount!
      </button>

    </div>

    <form (ngSubmit)="makePayment(campaign.id, paymentForm)" #paymentForm="ngForm" *ngIf="inputPaymentOpened">
      <div class="ui right labeled input" id='currency-input'>
        <label for="amount" class="ui label">$</label>
        <input [(ngModel)]="amount" type="text" placeholder="Amount" name='amount' id="amount">
        <div class="ui basic label">.00</div>
      </div>
      <button class="ui basic blue button" id="paypal-button" type="submit">Donate now</button>

    </form>

  </div>
</div>

