<app-navbar></app-navbar>
<div class="container" id='image-container'>
    <img class="ui fluid image" [src]="campaign.image" *ngIf="campaign.image" >
    <a class="ui blue tag label" id="campaign-category">{{campaign.categories}} </a>
    <a class="ui blue image basic label" id='campaign-creator'>
        <img src="{{ campaign.creator.image}}"> {{ campaign.creator.username}}
    </a>
</div>


<div class="ui raised very padded text container segment" id='campaign-main-container'>

  <h1 class='ui centered header'>{{ campaign.title }}</h1>

  <p id='description'>{{ campaign.description }}</p>


  <div class="ui four statistics">
    <div class="pink tiny statistic">
      <div class="value">
        <i class="dollar icon"></i> {{ campaign.amountRaised }}
      </div>
      <div class="label">
        Amount raised
      </div>
    </div>
    <div class="grey tiny statistic">
        <div class="value">
          <i class="dollar icon"></i> {{ campaign.target }}
        </div>
        <div class="label">
         Target
        </div>
      </div>


    <div class="blue tiny statistic" id="stats">
      <div class="value">
        {{campaign.backers.length}}
        <i class="users icon"></i>
      </div>
      <div class="label">
        Backers
      </div>
    </div>
    <div class="grey statistic">
      <div class="value">
        <i class="bell outline icon"></i> 
      </div>
      <div class="label">
          {{ campaign.dueDate  | date :'short' }}
      </div>
    </div>
  </div>


  <button *ngIf="!campaign.isCompleted" class="ui basic blue button" id="donate-button" (click)='toggleVisibilityInputPayment()'>
    DONATE NOW!
  </button>

  <form (ngSubmit)="makePayment(campaign.id, paymentForm)" #paymentForm="ngForm" *ngIf="inputPaymentOpened === true">
    <div class="ui right labeled input">
      <label for="amount" class="ui label">$</label>
      <input [(ngModel)]="amount" type="text" placeholder="Amount" name='amount' id="amount">
      <div class="ui basic label">.00</div>
    </div>
    <button class="ui basic blue button" type="submit">Go to paypal</button>

  </form>



  <ul class="ui ten wide column horizontal list" id='icon-list'>

  
  

  </ul>

</div>

